In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/VitorBonella/PL-Dataset/main/dataset.csv',sep=";") #Leitura dos dados para o pandas
df.head(2)

,id,data,sfh5711,sfh3400,tsl261r,sfh3410,sfh2430,bp104fas,tsl13s,tsl2569t_c,...,i6,i7,probmax,energia,entropia,contraste,homogeneidade,correlacao,tipo_lampada,potencia
0,355,2013-09-08 19:25:49,2568,1096,3932,914,855,2531,2406,6496,...,"-1,41733745231029e-006","3,15336969940052e-009","0,890374128851521","3,17034178175013","6,5716176171224","-30,7129899022437","3,76304934586401","0,00030352446061056",metalica ...,400
1,356,2013-09-08 19:26:51,2651,1168,4095,993,923,2857,2446,6536,...,"-6,85966112547544e-011","3,90722879150443e-015","0,874335002692948","3,05605231787486","7,56143396285353","-37,1051952158663","3,72262223245045","0,000268692571829909",metalica ...,400

In [ ]:
df.set_index('id',inplace=True) #Transformando a coluna id no indice da tabela

#Observem que a classe esta separada em duas colunas entÃ£o devemos concatenadas para formar uma coluna sÃ³ chamada classe
df['classe'] = df['tipo_lampada'].str.replace(" ", "") + df['potencia'].astype(str) 
df['classe']

id
355    metalica400
356    metalica400
357    metalica400
358    metalica400
359    metalica400
          ...
656    metalica250
657    metalica250
658    metalica250
659    metalica250
660    metalica250
Name: classe, Length: 297, dtype: object

In [ ]:
df.head(5)

,data,sfh5711,sfh3400,tsl261r,sfh3410,sfh2430,bp104fas,tsl13s,tsl2569t_c,tsl2569t_ir,...,i7,probmax,energia,entropia,contraste,homogeneidade,correlacao,tipo_lampada,potencia,classe
id,,,,,,,,,,,,,,,,,,,,,
355,2013-09-08 19:25:49,2568,1096,3932,914,855,2531,2406,6496,6788,...,"3,15336969940052e-009","0,890374128851521","3,17034178175013","6,5716176171224","-30,7129899022437","3,76304934586401","0,00030352446061056",metalica ...,400,metalica400
356,2013-09-08 19:26:51,2651,1168,4095,993,923,2857,2446,6536,7926,...,"3,90722879150443e-015","0,874335002692948","3,05605231787486","7,56143396285353","-37,1051952158663","3,72262223245045","0,000268692571829909",metalica ...,400,metalica400
357,2013-09-08 19:27:28,2500,1024,3867,825,766,2456,2207,5912,6031,...,"-2,41752849217549e-015","0,88498796746712","3,13069373707728","6,85342760134283","-27,9068889939748","3,74882866962454","0,000232954297907698",metalica ...,400,metalica400
358,2013-09-08 19:27:55,2240,462,3138,380,318,1942,1725,3819,3759,...,"2,98121103828429e-013","0,7646646581833","2,32154862004449","13,8784307675733","-109,018789473973","3,42956382241494","0,000166201729869237",metalica ...,400,metalica400
359,2013-09-08 19:28:40,2605,1201,4039,979,915,2731,2505,7048,7095,...,"6,77157863228138e-008","0,897764519281096","3,22179527617412","6,21806574418637","-54,8235378125258","3,77587702004172","0,000259598389119525",metalica ...,400,metalica400

# DescriÃ§Ã£o do Dataset 

**De SFH5711 Ã  TCS3414-C**: Sensores da placa (analÃ³gicos e digitais)

**De DF01 Ã  DF10**: Descritores de Fourier

**De I1 Ã  I7**: Descritores de HU

**De probmax Ã  correlaÃ§Ã£o**: Descritores de Haralick

In [ ]:
# Lista de Indices
FOURIER = ['df01', 'df02', 'df03', 'df04','df05', 'df06', 'df07', 'df08', 'df09', 'df10']
HU = ['i1', 'i2', 'i3', 'i4','i5', 'i6', 'i7']
HARALICK = ['probmax', 'energia', 'entropia', 'contraste','homogeneidade', 'correlacao']
ALL = FOURIER + HU + HARALICK

In [ ]:
# Verificar o tipo da coluna
print(list(df[ALL].dtypes)) #o list(...) foi usado apenas para imprimir na vertical
df[ALL].head(2)

[dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O')]

,df01,df02,df03,df04,df05,df06,df07,df08,df09,df10,...,i4,i5,i6,i7,probmax,energia,entropia,contraste,homogeneidade,correlacao
id,,,,,,,,,,,,,,,,,,,,,
355,"0,0879606602603602","0,0540590780493764","0,0252096142058536","0,0274713661921584","0,0128341271697431","0,00837372424071006","0,00459165042660484","0,00516286747775679","0,00474694756923231","0,00307480942393677",...,"5,71775104737315e-005","3,80815942436415e-009","-1,41733745231029e-006","3,15336969940052e-009","0,890374128851521","3,17034178175013","6,5716176171224","-30,7129899022437","3,76304934586401","0,00030352446061056"
356,"0,0183325142757933","0,0641922380636373","0,0213351158490625","0,028934652413586","0,012263060875406","0,0112299899510848","0,00356611493895844","0,00586153710536664","0,00374648636964241","0,00377850078446776",...,"1,01157608366481e-008","-5,39593107944031e-015","-6,85966112547544e-011","3,90722879150443e-015","0,874335002692948","3,05605231787486","7,56143396285353","-37,1051952158663","3,72262223245045","0,000268692571829909"

In [ ]:
'''
Os dados dos descritores como podemos observar na tabela acima estÃ£o com ","
porÃ©m o padrÃ£o para ponto flutuante (float) em python Ã© "." logo a biblioteca 
entendeu que se tratavam de strings (objects para o pandas) e nÃ£o de floats 
assim Ã© importante transformar esses dados para float.
'''
df[ALL] = df[ALL].apply(lambda x: x.str.replace(',', '.').astype(float), axis=1)
print(list(df[ALL].dtypes))
df[ALL].head(2)

[dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64')]

,df01,df02,df03,df04,df05,df06,df07,df08,df09,df10,...,i4,i5,i6,i7,probmax,energia,entropia,contraste,homogeneidade,correlacao
id,,,,,,,,,,,,,,,,,,,,,
355,0.087961,0.054059,0.025210,0.027471,0.012834,0.008374,0.004592,0.005163,0.004747,0.003075,...,5.717751e-05,3.808159e-09,-1.417337e-06,3.153370e-09,0.890374,3.170342,6.571618,-30.712990,3.763049,0.000304
356,0.018333,0.064192,0.021335,0.028935,0.012263,0.011230,0.003566,0.005862,0.003746,0.003779,...,1.011576e-08,-5.395931e-15,-6.859661e-11,3.907229e-15,0.874335,3.056052,7.561434,-37.105195,3.722622,0.000269

# Exemplos de utilizaÃ§Ã£o

**ObservaÃ§Ã£o**: "pegar Z caracteristicas" significa que vamos pegar todos os dados (linhas) porÃ©m selecionando Z caracteristicas delas (colunas)

In [ ]:
#Pegar todas caracteristicas
X = df[ALL]

X.head(3)

,df01,df02,df03,df04,df05,df06,df07,df08,df09,df10,...,i4,i5,i6,i7,probmax,energia,entropia,contraste,homogeneidade,correlacao
id,,,,,,,,,,,,,,,,,,,,,
355,0.087961,0.054059,0.025210,0.027471,0.012834,0.008374,0.004592,0.005163,0.004747,0.003075,...,5.717751e-05,3.808159e-09,-1.417337e-06,3.153370e-09,0.890374,3.170342,6.571618,-30.712990,3.763049,0.000304
356,0.018333,0.064192,0.021335,0.028935,0.012263,0.011230,0.003566,0.005862,0.003746,0.003779,...,1.011576e-08,-5.395931e-15,-6.859661e-11,3.907229e-15,0.874335,3.056052,7.561434,-37.105195,3.722622,0.000269
357,0.018215,0.052010,0.019937,0.027750,0.009354,0.010829,0.003828,0.006079,0.003583,0.002716,...,5.386911e-09,-8.512721e-16,1.025674e-10,-2.417528e-15,0.884988,3.130694,6.853428,-27.906889,3.748829,0.000233

In [ ]:
#Pegar um unico conjunto de caracteristicas
X = df[HARALICK]

X.head(3)

      probmax   energia  entropia  contraste  homogeneidade  correlacao
id
355  0.890374  3.170342  6.571618 -30.712990       3.763049    0.000304
356  0.874335  3.056052  7.561434 -37.105195       3.722622    0.000269
357  0.884988  3.130694  6.853428 -27.906889       3.748829    0.000233

In [ ]:
#Pegar um par de caracteristicas
X = df[HARALICK + FOURIER]

X.head(3)

,probmax,energia,entropia,contraste,homogeneidade,correlacao,df01,df02,df03,df04,df05,df06,df07,df08,df09,df10
id,,,,,,,,,,,,,,,,
355,0.890374,3.170342,6.571618,-30.712990,3.763049,0.000304,0.087961,0.054059,0.025210,0.027471,0.012834,0.008374,0.004592,0.005163,0.004747,0.003075
356,0.874335,3.056052,7.561434,-37.105195,3.722622,0.000269,0.018333,0.064192,0.021335,0.028935,0.012263,0.011230,0.003566,0.005862,0.003746,0.003779
357,0.884988,3.130694,6.853428,-27.906889,3.748829,0.000233,0.018215,0.052010,0.019937,0.027750,0.009354,0.010829,0.003828,0.006079,0.003583,0.002716

In [ ]:
#Pegar os rotulos
y = df['classe']

y

id
355    metalica400
356    metalica400
357    metalica400
358    metalica400
359    metalica400
          ...
656    metalica250
657    metalica250
658    metalica250
659    metalica250
660    metalica250
Name: classe, Length: 297, dtype: object

# ComeÃ§ando

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.dummy import DummyClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict

results_table = {}
RANDOM_STATE = 36851234

In [ ]:
x = df[FOURIER + HU + ['classe']]
x.head()

,df01,df02,df03,df04,df05,df06,df07,df08,df09,df10,i1,i2,i3,i4,i5,i6,i7,classe
id,,,,,,,,,,,,,,,,,,
355,0.087961,0.054059,0.025210,0.027471,0.012834,0.008374,0.004592,0.005163,0.004747,0.003075,0.168084,0.000615,0.000131,5.717751e-05,3.808159e-09,-1.417337e-06,3.153370e-09,metalica400
356,0.018333,0.064192,0.021335,0.028935,0.012263,0.011230,0.003566,0.005862,0.003746,0.003779,0.164507,0.001087,0.000043,1.011576e-08,-5.395931e-15,-6.859661e-11,3.907229e-15,metalica400
357,0.018215,0.052010,0.019937,0.027750,0.009354,0.010829,0.003828,0.006079,0.003583,0.002716,0.163434,0.000767,0.000042,5.386911e-09,-8.512721e-16,1.025674e-10,-2.417528e-15,metalica400
358,0.052135,0.050285,0.045283,0.026933,0.023573,0.025529,0.009866,0.018346,0.010126,0.019193,0.194681,0.000430,0.000351,9.433074e-08,-4.535061e-13,-1.859019e-09,2.981211e-13,metalica400
359,0.097783,0.049556,0.029332,0.025498,0.015147,0.007328,0.005753,0.004973,0.005666,0.002682,0.178424,0.000125,0.000788,4.385479e-04,2.487489e-07,-4.861444e-06,6.771579e-08,metalica400

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, x['classe'], test_size=0.2, random_state= RANDOM_STATE)

# Aplicando Agrupamentos

## ZeroR (ZR)

In [ ]:
zR = DummyClassifier()

stratified_cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state = RANDOM_STATE)
scores = cross_val_score(zR, x_train, y_train, scoring='accuracy', cv = stratified_cv)

results_table['zrMEAN'] = scores.mean()
results_table['zrSTD'] = scores.std()
results_table['zrLOWER'] = scores.mean() - scores.std()
results_table['zrUPPER'] = scores.mean() + scores.std()

print(results_table)

{'zrMEAN': 0.15217391304347824, 'zrSTD': 0.02236420197392893, 'zrLOWER': 0.1298097110695493, 'zrUPPER': 0.17453811501740718}

## Bagging (BA)

## AdaBoost (AB)

## RandomForest (RF)

## Heterogeneous Pooling (HP)

# ConsideraÃ§Ãµes Finais